<div class="container bg-white p-4 mt-15 mb-15" style="margin-top: 120px; margin-bottom: 70px;">
  <h2 style="margin-bottom: 30px;">Post a van</h2>
  <%= simple_form_for(@van) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :price_per_day %>
      <%= f.input :address %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.input :category, as: :select, collection: ["Retro", "High-tech", "Budget"]%>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class: "btn btn-flat" %>
    </div>
  <% end %>
</div>
